/* styles.css */
.custom-dark-blue {
    background-color: #001f3f; /* Dark blue color */
  }
  


  
.jobvideos{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  /* opacity:0.9; */
  }
  
  .jobvideos img{
  object-fit:cover;
  width: 100vw;
  height: 100vh;
  
  }
  